<form action="/profile/" method="GET">
    <div class="input-group">
        <input type="text" name="username" class="form-control" placeholder="Search Players">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>