<!DOCTYPE html>
<html lang="en">

<head>

    {{> meta}}

    <title>Error | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar}}

    <div class="container text-center">

        <h1 class="display-1">Error!</h1>

        <h1 class="lead">{{error}}</h1>

    </div>

    {{> js}}

</body>

</html>