<!DOCTYPE html>
<html lang="en">

<head>

    {{> meta}}

    <title>Play | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar active_play=true}}

    <div class="container">

        {{> flash}}

        <div id="menu" class="border shadow-lg text-center mx-auto py-5 px-5">
            <h1 class="display-3">Eight-Ball</h1>
            <hr class="my-5">
            <button type="button" id="btn-joinQueue" class="btn btn-lg btn-primary">Join Queue</button>
        </div>

        <div id="queue" class="border shadow-lg text-center mx-auto py-5 px-5">
            <h1 class="display-3">Queue</h1>
            <div class="loader mx-auto my-5"></div>
            <button type="button" id="btn-leaveQueue" class="btn btn-danger">Leave Queue</button>
        </div>

        <div id="game" class="text-center">
            <div class="row mx-0 px-3 py-2 border border-bottom-0">
                <div class="col-3 text-left">
                    <a id="playerUsername" href="#" class="h3 text-body text-truncate">playerUsername</a>
                </div>
                <div class="col-3">
                    <span id="playerScore" class="h3 text-center">playerScore</span>
                </div>
                <div class="col-3">
                    <span id="opponentScore" class="h3 text-center">opponentScore</span>
                </div>
                <div class="col-3 text-right">
                    <a id="opponentUsername" href="#" class="h3 text-body text-truncate">opponentUsername</a>
                </div>
            </div>
            <div id="colours" class="clearfix border-left border-right" style="margin-top: -5px;">
                <div id="playerColour" class="float-left" style="width: 50%; height: 10px; background-color: none"></div>
                <div id="opponentColour" class="float-right" style="width: 50%; height: 10px; background-color: none"></div>
            </div>
            <canvas id="canvas" class="d-block w-100 h-auto mh-100"></canvas>
        </div>

        <div id="gameEnd" class="border shadow-lg text-center mx-auto py-5 px-5">
            <h1 id="endMsg" class="display-3">Game End</h1>
            <hr class="my-5">
            <button type="button" id="btn-showMenu" class="btn btn-lg btn-success">Go to Menu</button>
            <a href="/profile/" class="btn btn-lg btn-primary" role="button">Profile</a>
        </div>

    </div>

    <!-- Socket.IO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
        crossorigin="anonymous"></script>

    {{> js}}

    <script src="/js/game/menu.js"></script>
    <script src="/js/game/Vector.js"></script>
    <script src="/js/game/canvas.js"></script>
    <script src="/js/game/Ball.js"></script>
    <script src="/js/game/Stick.js"></script>
    <script src="/js/game/Game.js"></script>
    <script src="/js/game/socket.js"></script>

</body>

</html>