<!DOCTYPE html>
<html lang="en">

<head>

    {{> meta}}

    <title>Play | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar}}

    <div class="container">

        {{> flash}}

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore similique, assumenda corrupti possimus
            reiciendis ratione nobis officiis! Similique fugit sequi non exercitationem enim quo ea minus consequuntur,
            cum rem placeat?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, magnam fuga at expedita saepe veritatis
            autem beatae, ullam maiores error dolores aut sapiente architecto officia consectetur facere maxime hic
            delectus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis error fugit officiis alias quos
            laboriosam inventore eius, deserunt iure doloremque, obcaecati distinctio iusto. Suscipit perspiciatis
            rerum repudiandae! Doloribus, assumenda dicta.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id ab iure vitae sint repudiandae aspernatur! Iste
            in dolorem quasi. Facere minima dolorem asperiores omnis in voluptates eos, deleniti eligendi maiores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officiis similique, saepe aspernatur quis
            neque maiores quo amet qui velit eius et repudiandae placeat iure? Asperiores, quia sequi? Velit,
            veritatis?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet magnam beatae officia illum esse eius fugiat,
            harum laborum aut! A possimus excepturi quis assumenda dolorum aliquid aperiam omnis error aspernatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odio non, necessitatibus, quidem amet
            explicabo commodi sit sapiente voluptatibus excepturi nam deleniti. Doloribus voluptates fugit odit libero
            error quasi sit!</p>
    </div>

    <!-- Socket.IO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
        crossorigin="anonymous"></script>

    {{> js}}

    <script>
        var socket = io();
    </script>


</body>

</html>