<!DOCTYPE html>
<html lang="en">

<head>

    {{> meta}}

    <title>Play | Eight Ball</title>

    {{> css}}

</head>

<body>

    {{> navbar active_play=true}}

    <div class="container">

        {{> flash}}

        <div id="menu" class="border shadow-lg text-center py-5 px-5">
            <h1 class="display-3">Eight-Ball</h1>
            <hr class="my-5">
            <button type="button" id="btn-join-queue" class="btn btn-lg btn-primary">Join Queue</button>
        </div>

        <div id="queue" class="border shadow-lg text-center py-5 px-5">
            <h1 class="display-3">Queue</h1>
            <div class="loader mx-auto my-5"></div>
            <button type="button" id="btn-leave-queue" class="btn btn-danger">Leave Queue</button>
        </div>

        <div id="game">
            <canvas id="canvas" class="shadow-large"></canvas>
        </div>

    </div>

    <!-- Socket.IO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
        crossorigin="anonymous"></script>

    {{> js}}

    <script src="/js/game/canvas.js"></script>
    <script src="/js/game/Vector.js"></script>
    <script src="/js/game/Ball.js"></script>
    <script src="/js/game/Game.js"></script>
    <script src="/js/game/socket.js"></script>

</body>

</html>