.loader {
    border: 15px solid #f0f0f0;
    border-radius: 100%;
    border-top: 15px solid #17a2b8;
    border-bottom: 15px solid #17a2b8;
    width: 100px;
    height: 100px;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}